block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | TinderBot
    link(rel="stylesheet" href="/style.css")
  body
    header.NavButtons
        a(href="/user") Profiles vues
        
        a(href="/likes") Likes
        a(href="/dislikes") Dislikes

    div#root
        block layout-content